[Interface]
Address = {{ wg_iface_cidr }}
PrivateKey = {{ wg_client_priv }}

[Peer]
PublicKey = {{ wg_peer_pub }}
PresharedKey = {{ wg_preshared_key }}
AllowedIPs = {{ wg_peer_allowed_ips }}
Endpoint = {{ wg_peer_endpoint }}
PersistentKeepalive = {{ wg_peer_keepalive }}
